
.gn-notification-list {
    background: rgba(0,0,0,0.35);
    position: relative;
    margin-bottom: 15px;
}

.gn-notification-list-title {
    background: rgba(0,0,0,0.25);
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
}


.gn-listview .media:not(.gn-listview-header) {
    margin-top: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
    padding: 10px 15px;
}

.gn-listview .media:not(.listview-header):hover {
    background-color: rgba(0,0,0,0.07);
}

.gn-listview .media .media-body {
    padding-top: 1px;
    height: 40px;
}

.gn-listview .media:last-child {
    border-bottom: 0;    
}

.gn-listview.narrow .media {
    padding: 5px 10px;
}

.gn-listview .media:hover {
    display: block;
}

.gn-listview .counts {
    padding: 0 6px;
    background: rgba(0, 0, 0, 0.56);
    color: #FFF;
    font-size: 23px;
    text-shadow: none;
}

.gn-listview .media .attrs {
    padding: 4px 7px 5px;
    line-height: 100%;
    margin: 4px 5px 2px 0;
    font-size: 11px;
    float: left;
    width: auto;
    background: rgba(0, 0, 0, 0.2);
}