<nav class="navbar-fixed-top">
	<header id="header" class="media">
		<div class="hidden-xs">
				<a ng-click="gamenight.toggleSidebar()" id="menu-toggle"></a> 
				<a class="logo pull-left hidden-xs">Gamenight RPG</a>
		</div>
				<div class="media-body">
						<div class="media" id="top-menu">
							<div class="row-fluid">
								<div class="col-xs-12 col-sm-10" style="padding-left: 0px;">
                                  <div gn-nav-icon icondata="icon" ng-repeat="icon in gamenight.Icons()"></div>


								</div>
								<div class="hidden-xs col-sm-2">

								</div>
							</div>
						</div>
				</div>
	</header>				
</nav>

<div class="row-fluid" ng-show="gamenight.showUI">

<aside id="sidebar" class="hidden-xs" ng-show="gamenight.showSidebar()">

		<!-- Sidbar Widgets -->
		<div class="side-widgets overflow">
				<!-- Profile Menu -->
				<div class="text-center s-widget m-b-25" id="profile-menu">
						<a ng-click="gamenight.toggleSideMenu()" >
								<img class="profile-pic animated" src="img/profile-pic.jpg" alt="">
						</a>
						<h4 class="m-0">Alex Gorale</h4>
						@alexgorale
				</div>

				<div class="s-widget m-b-25">
					<ul class="profile-menu" ng-show="gamenight.showProfileMenu()">
							<li><a href="">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
							<li><a href="">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
							<li><a href="">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
							<li><a href="">Sign Out</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
					</ul>
				</div>
			
				<!-- Feeds -->
				<div class="s-widget m-b-25">
						<h2 class="tile-title">
							 News Feeds
						</h2>

						<div class="s-widget-body">
							<div id="news-feed">
								<ul class="feedEkList list-unstyled">
									<li class="m-b-10"><span class="itemTitle"><a href="" target="_blank">DnD 3.5 Support Coming Soon</a></span><small class="itemDate text-muted m-l-10">12/12/2015</small></li>
									<li class="m-b-10"><span class="itemTitle"><a href="" target="_blank">5 new Content Bounties Announced</a></span><small class="itemDate text-muted m-l-10">12/2/2015</small></li>
								</ul>
							</div>
						</div>
				</div>

				<!-- Projects -->
				<div class="s-widget m-b-25">
						<h2 class="tile-title">
								Projects on going
						</h2>

						<div class="s-widget-body">
								<div class="side-border">
										<small>Epic Heroes Bounties</small>
										<div class="progress progress-small">
												 <a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger" style="width: 60%;" data-original-title="60%">
															<span class="sr-only">60% Complete</span>
												 </a>
										</div>
								</div>
								<div class="side-border">
										<small>Epic Villains Bounties</small>
										<div class="progress progress-small">
												 <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-info" style="width: 43%;" data-original-title="43%">
															<span class="sr-only">3% Complete</span>
												 </a>
										</div>
								</div>
								<div class="side-border">
										<small>Magic Items Bounties</small>
										<div class="progress progress-small">
												 <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-warning" style="width: 81%;" data-original-title="81%">
															<span class="sr-only">81% Complete</span>
												 </a>
										</div>
								</div>
								<div class="side-border">
										<small>Magic Weapons Bounties</small>
										<div class="progress progress-small">
												 <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 10%;" data-original-title="10%">
															<span class="sr-only">10% Complete</span>
												 </a>
										</div>
								</div>
								<div class="side-border">
										<small>Magic Items Bounties</small>
										<div class="progress progress-small">
												 <a href="#" data-toggle="tooltip" title="" class="tooltips progress-bar progress-bar-success" style="width: 95%;" data-original-title="95%">
															<span class="sr-only">95% Complete</span>
												 </a>
										</div>
								</div>
						</div>
				</div>
		</div>

	</aside>
<ui-view style="height: 100%; overflow: hidden; padding-bot: 2" ng-show="gamenight.showUI"></ui-view>
</div>