<div class="row">
  <div class="col-md-5">
    <form class="gn-login-box" ng-show="vm.show('login')">
      <h2>Login</h2>
      <input type="text" class="login-control" placeholder="Username or Email Address">
      <input type="password" class="login-control" placeholder="Password">
      <div class="gn-login-checkbox">
          <label>
              <input type="checkbox">
              Remember Me
          </label>
      </div>
      <button class="btn btn-lg" ui-sref="gamenight.dashboard">Sign In</button>

      <br/>
      <br/>
      <small>
        <center>
          <a ng-click="vm.changeState('register')">Don't have an Account?</a> or
          <a ng-click="vm.changeState('reset')">Forgot Password?</a>
        </center>
      </small>
    </form>
    
    <form class="gn-login-box" ng-show="vm.show('register')">
      <h2 class="m-t-0 m-b-15">Register</h2>
      <input type="text" class="login-control m-b-10" placeholder="Name">
      <input type="text" class="login-control m-b-10" placeholder="Username">
      <input type="email" class="login-control m-b-10" placeholder="Email Address">    
      <input type="password" class="login-control m-b-10" placeholder="Password">
      <input type="password" class="login-control m-b-20" placeholder="Confirm Password">

      <button class="btn btn-lg m-r-5">Register</button>

      <br/>
      <br/>
      
      <small>
        <center>
          <a ng-click="vm.changeState('login')">Already have an Account?</a> or
          <a ng-click="vm.changeState('reset')">Forgot Password?</a>
        </center>
      </small>
    </form>
    
     <form class="gn-login-box" ng-show="vm.show('reset')">
      <h2 class="m-t-0 m-b-15">Reset Password</h2>
      <input type="email" class="login-control m-b-20" placeholder="Email Address">    

      <button class="btn btn-lg m-r-5">Reset Password</button>
       
       <br/>
       <br/>
      <small>
        <center>
          <a ng-click="vm.changeState('login')">Already have an Account?</a> or
          <a ng-click="vm.changeState('register')">Don't have an Account?</a>
        </center>
      </small>
    </form>
  </div>
</div>