<h2>Gamenight Login</h2>

<div gn-login></div>

<h2>Channel Buttons</h2>

<div gn-channel-buttons channelbuttondata="components.channelbuttondata"></div>

<h2>Channel Title</h2>
<div gn-channel-title channeltitledata="components.channeltitledata"></div>



<h2>Nav Icons</h2>
<div class="row">
<div gn-nav-icon icondata="navicon" ng-repeat="navicon in components.icondata"></div>
</div>
<br/>
<br/>
<br/>
<br/>

<h2>Dash Icons</h2>
<div class="row">
<div gn-dash-icon dashicondata="components.dashicondata"></div>
</div>

<br/>
<br/>
<br/>
<br/>

<h2>Dash Trackable</h2>
<div class="row">
<div gn-dash-trackable trackabledata="components.trackabledata"></div>
</div>
<br/>
<br/>
<br/>
<br/>

<h2>Dash Notification List</h2>
<div class="row">
<div gn-notification-list notificationdata="components.notificationlist"></div>
</div>

<h2>Dash Display Box</h2>
<div class="row">
<div gn-display-box displayboxdata="components.displayboxdata"></div>
</div>
